<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Squat Workout</title>
</head>
<header>
    <h2 style="color: white">Squat Workouts</h2>
    <nav>
      
  <div class="nav-container">
    <ul class="nav-link">
      <li><a href="/squats">Home</a></li>
      <li><a href="/squats/workouts">Workouts</a></li>
  <li class="dropdown">
    <button class="dropbtn" style="padding: 10px;">Account</a>
  <div class="dropdown-content">
      <li><a href="squats/user">User</a></li>
      <li><a href="/auth/google">Log In</a></li> 
  </div>
  </li>
  </ul>
  </div>
  </nav>
  
  </header>
  <body>
<body>
    
</body>
</html>